.review-item {
  background-color: rgba(214, 116, 94, 0.2);
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  min-width: 70%;
  max-width: 70%;
  height: 200pt;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  border-radius: 15pt;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.review-item-userRating-circle {
  background: rgba(91, 221, 70, 1);
  color: white;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.review-item-reviewText {
  width: 50%;
  background-color: rgba(214, 116, 94, 1);
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3%;
  border-radius: 10pt;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 0.8em;
}

.review-item-reviewMovieTitle {
  width: 30%;
  margin-left: 3%;
}
.review-item-userRating {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h3 {
  font-size: 1.5 em;
  margin: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60%;
}

h2 {
  font-size: larger;
}
h1 {
  font-size: x-large;
}
.review-props {
  color: rgba(129, 27, 16, 1);
}

.review-props-title-value {
  color: rgba(214, 116, 94, 1);
}

.review-props-review-value {
  color: rgb(255, 255, 255);
  font-weight: light;
  margin-left: 4%;
  margin-right: 4%;
}
